body {
    background-image: url(https://cdn.glitch.global/65dcb037-c70a-47e8-9721-c81a2c259aa2/brooke-lark-08bOYnH_r_E-unsplash.jpg?v=1695646029991);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 400px;
}
.text {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #4B4040;
    
}
#btn {
    width: 300px;
    padding: 20px;
    background-color: #ABC4AA;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    border: none;
    color: #4B4040;
}
h1 {
    font-size: 25px;
    font-family: 'Kavoon', cursive;
    text-align: center;
    color: #4B4040;
}
h2 {
    font-size: 20px;
    font-family: 'Kavoon', cursive;
    text-align: center;
    color: #4B4040;
}
option {
    font-size: 20px;
    width: 10%;
    padding: 10px;
    
}
.feedbackbox {
    margin-left: 600px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    display: none;
}
#inputtext {
    width: 60%;
    padding: 10px;
    font-size: 20px;
    color: #4B4040;
    font-family: 'Mooli', sans-serif;
}
.formline {
    margin-top: 20px;
    font-family: 'Mooli', sans-serif;
    color: #4B4040;
}

label {
    font-size: 25px;
    font-weight: bolder;
}
.submitbtn {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #4B4040;
    color: #d9d9d9;
    padding: 15px;
    width: 100%;
    margin-top: 50px;
    
}

@media all and (max-width:1100px) {
    .question, .feedbackbox {
        margin-left: 250px;
    }
    .submitbtn {
        margin-top: 20px;
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
}
@media all and (max-width:900px) {
    .question{
        margin-left: 0px;
    }
    .feedbackbox  {
        margin-left: 20px;
    }
    .submitbtn {
        margin-top: 20px;
    }
}
@media all and (max-width:500px) {
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 10px;
    }
    label {
        font-size: 20px;
    }
    
    option {
        font-size: 15px;
    }
    .text {
        font-size: 30px;
    }
}